@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');



body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Single Day', cursive;
}



#header {
  margin: 5% 0 3%;
}

#header .logo {
  width: 30%;
  margin: 0 auto;
}

#header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 2%;
}

#section {
  padding: 1% 5% 5% 5%;
}

#section #formlist>div {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #ddd;
  padding: 1.5% 0;
}

#section #formlist .address {
  border-bottom: 1px solid #ddd;
}

#formlist label {
  width: 30%;
  font-size: 20px;
  padding: 0 4%;
  line-height: 2;
}

#formlist .rightside {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
}

.rightside input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 0 0 0 4%;
}

.leftside {
  font-weight: normal;
}

.gender .rightside {
  display: flex;
  align-items: center;
}

.gender .rightside input {
  width: 15%;
  height: 25px;
}

.gender .rightside label {
  line-height: 2;
  margin-right: 5%;
  width: 10% !important;
}

select {
  border-radius: 10px;
  font-family: 'Single Day', cursive;
}

.birth select {
  width: 30%;
  padding: 1.5%;
  text-align: center;
  margin-right: 2.5%;
  font-size: 20px;
}

.local select {
  width: 20%;
  padding: 2%;
  text-align: center;
  font-size: 20px;
}

.call select {
  /* background-color: #f7e6f7; */
  text-align: center;
  padding: 2%;
  width: 25%;
  margin-right: 3%;
  font-size: 20px;
}

.call input {
  width: 65%;
}

.callbtn {
  width: 10%;
  background-color: #ddd;
  border-radius: 10px;
  font-weight: normal;
  border: none;
}

.email input {
  width: 32%;
}

.email select {
  /* background-color: #f7e6f7; */
  text-align: center;
  padding: 1.5%;
  width: 25%;
  margin-left: 3%;
  font-size: 20px;
}

.email .at {
  padding: 0 !important;
}

.post {
  position: relative;
}

.post span {
  margin: 0 2%;
}

.post input {
  width: 30%;
  text-align: center;
  padding: 0;
}

.post .rightside .search {
  margin: 0 8% 0 1%;
  padding: 1.5%;
  width: 20%;
  border: none;
  border-radius: 10px;
  background: #ddd;
  font-weight: bold;
}

#accordion {
  display: block !important;
  width: 80% !important;
  margin: 3% auto !important;
  border-top: none !important;
}

#accordion .ui-icon {
  display: none;
}

#accordion .chbx {
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  padding: 1% 4% 2%;
}

#accordion h3 {
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Single Day', cursive;
}

#accordion .accheader label {
  width: 100%;
  line-height: 0;
  padding: 0;
  margin: 0;
}

#accordion span {
  font-size: 20px;
  font-family: 'Single Day', cursive;

}

.textbox>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textbox>div input:nth-child(1) {
  width: 15%;
  height: 35px;
}

.textbox>div input:nth-child(2) {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  padding: 3%;
}

.btn {
  text-align: center;
  border-top: none !important;
}

.btn >button {
  font-family: 'single day', cursive;
}

.btn .submit {
  width: 20%;
  margin: 0 4%;
  padding: 1.5%;
  font-size: 25px;
  border-radius: 10px;
  background-color: #ddd;
}

.btn .reset {
  width: 15%;
  padding: 1.5%;
  font-size: 25px;
  border-radius: 10px;
  background-color: #ddd;
}

.chbx>div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1%;
}

.chbx .chbxp1 {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.chbxp1 label {
  font-size: 16px !important;
  font-weight: bold;
}

.chbx .txtcheck {
  width: 5%;
  height: 30px;
  margin-right: 2%;
}

.chbx .txtbox {
  width: 100%;
  margin-top: 2%;
  height: auto;
  border-bottom-right-radius: 10px;
  padding: 3%;
  border: 1px solid;
}