@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');



body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Single Day', cursive;
}

#header {
  margin: 5% 0 3%;
}

#header .logo {
  width: 30%;
  margin: 0 auto;
}

#header h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 2%;
}

#section {
  padding: 1% 5% 5% 5%;
}

#formbox {
        width: 90%;
        border: 1px solid #f5dec9;
        padding: 3% 0 0;
        margin: 0 auto;
        border-radius: 10px;
}

#formlist {
    width: 90%;
    padding: 2% 3%;
    margin: 0 auto;
    border-radius: 10px;
}

#formlist .webicon {
  font-size: 20px;
  display: none;
}

#section #formlist .inputbox {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 10px;
  background-color: #f5dec9;
}

#section #formlist .inputbox >div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;

}

#formlist label {
    width: 40%;
    font-size: 20px;
    padding: 0 4%;
    line-height: 2;
}

#formlist .rightside {
    width: 70%;
    position: relative;
}

.rightside input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0 0 0 4%;
}

.btn {
    margin: 6% 0 3%;
    text-align: center;
    border-top: none !important;
    display: flex;
    justify-content: center;
}

.btn .join {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 5%;
}


.btn .submit {
  border: none;
  width: 50%;
  padding: 1.5%;
  font-size: 18px;
  border-radius: 10px;
  background-color: #bd9672;
  color: #fff;
  font-weight: bold;
}

.btn .reset {
  width: 15%;
  padding: 1.5%;
  font-size: 18px;
  border-radius: 10px;
  background-color: #ddd;
}

.subbtn {
  width: 80%;
  display: flex;
  margin: 2% auto 0;
  justify-content: center;
  align-items: center;

}

.subbtn >a {
    width: 20%;
    margin: 0 3%;
    padding: 1% 0;
  text-align: center;
  position: relative;
  }

.subbtn >a::after {
  content: '';
  background-color: #ddd;
  width: 1%;
  height: 70%;
  /* border: 1px solid; */
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translateY(-50%);
}

.subbtn >a:nth-child(3)::after {
  width: 0;
}
/* 
.subbtn >button:nth-child()
.subbtn >button:nth-child() */