@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 
  영문: font-family: 'Poppins', sans-serif;
  한글: font-family: 'Noto Sans KR', sans-serif;
*/

/* 
homepc monitor : 1366*625
*/

body,
html {
  max-width: 1920px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

/* header */
#header {
  /* max-width: 1920%; */
  width: 100%;
  height: 120px;
  background-color: #dfd0ac;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  border-bottom: 1px solid #999;
}

#header #nav {
  /* max-width: 1366px; */
  width: 100%;
  height: 100%;
  justify-content: right;
  padding: 1% 0;
  margin: 0 auto;
  position: relative;
  display: flex;
}

#nav .logo {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    width: 15%;
    height: 70%;
    text-align: center;
}

#nav .navmenu {
  width: 50%;
  height: 100%;
  margin-left: 60%;
}

.resize {
  display: none;
}

.magnifyinggl {
  position: absolute;
  top: 15%;
  right: 33%;
  z-index: 999;
  font-size: 20px;
}

.navmenu .searchbx {
  display: none; 
    width: 18%;
    height: 35%;
    position: absolute;
    top: 13%;
    right: 31%;
    transition: all 1s;
}
.navmenu .searchbx.on {
  display: block;
}

.navmenu .searchbx input {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  padding: 3%;
}

/* .navmenu .searchbx.on {
  width: 29%;
  opacity: 1;
} */
  #nav .navmenu .membership {
      /* padding: 0 7%; */
      text-align: right;
      height: 40%;
      display: flex;
      transform: translateY(-10%);
      margin-left: 6%;
      width: 100%;
      align-items: center;
      justify-content: center;
}

.navmenu>ul>li {
  font-size: 20px;
}

.navmenu .hide_mem {
  width: 5%;
  font-size: 17px;
  margin: 0 5%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}

.membership .sns {
  width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%);
}

.sns >li{
  width: 29%;
  text-align: center;
  font-size: 25px;
  color: #aaa;
  text-shadow: 3px 3px #000;
  opacity: 0.7;
}

.navmenu .headmenu {
  height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navmenu .headmenu>li {
  margin: 0 2%;
  width: 20%;
  position: relative;
  line-height: 3em;
  height: 100%;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.navmenu .headmenu>li::after {
  opacity: 0;
  content: '';
  width: 80%;
  height: 0;
  border: 1px solid #aaa;
  position: absolute;
  bottom: 8%;
  left: 8%;
  transition: all 0.5s;
}

.navmenu .headmenu>li:hover::after {
  opacity: 1;
}

.navmenu .headmenu >li:hover .submenu {
  /* transform: translate(0%, -2%); */
  display: block;
}

.navmenu .headmenu >li a {
  width: 100%;
}

.headmenu .submenu {
  width: 100%;
  display: none;
  transform: translate(0%, -2%);
  background: #ffebb1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;
  padding: 10% 2% 2% 2%;
}

.submenu>li {
  text-align: center;
  color: #474952;
  font-size: 17px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.submenu>li::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  transition: all .5s;
}

.submenu>li:hover::before {
  transform: translate(340%, -40%);
  opacity: 1;
}

.close {
  display: none;
}


/* section */
/* article1 */
#art1_map {
  background: url(/images/subbg.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: relative;
}

#art1_map .bgcov {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.7;
}

#art1_map .map {
  width: 40%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border: 5px double brown;
}

#art1_map .textbx {
  width: 35%;
  height: 50%;
  position: absolute;
  top: 26%;
  left: 52%;
}

.textbx>span {
  width: 100%;
  font-size: 20px;
  line-height: 1.7;
  border-bottom: 2px solid #bbb;
  display: block;
}