@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/* 
  영문: font-family: 'Poppins', sans-serif;
  영문2: font-family: 'Fredoka One', cursive;
  한글: font-family: 'Gamja Flower', cursive;
*/

/* 
homepc monitor : 1366*625
*/

body,
html {
  max-width: 1920px;
}

img {
  width: 100%;
  height: 100%;
}

/* header */
#header {
  /* max-width: 1920%; */
  width: 100%;
  height: 120px;
  background-color: #dfd0ac;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  transition: all 0.5s;
}

#header.hide {
  transform: translateY(-100%);
}

#header .hiding {
  position: absolute;
    top: -130%;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #dfd0ac;
    transition: all 0.5s;
}

#header #nav {
  /* max-width: 1366px; */
  width: 100%;
  height: 100%;
  justify-content: right;
  padding: 1% 0;
  margin: 0 auto;
  position: relative;
  display: flex;
}

#nav .logo {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    width: 15%;
    height: 70%;
    text-align: center;
}

#nav .logo a {
  width: 80%;
}

#nav .navmenu {
  width: 50%;
  height: 100%;
  margin-left: 60%;

}



.navmenu .searchbx {
  display: none;
  width: 18%;
  height: 35%;
  position: absolute;
  top: 8%;
  right: 32%;
  transition: all 1s;

}

.navmenu .searchbx input {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  padding: 3%;
}

/* .navmenu .searchbx.on {
  width: 29%;
  opacity: 1;
} */
  #nav .navmenu .membership {
  /* padding: 0 7%; */
  text-align: right;
  height: 40%;
  display: flex;
  transform: translateY(-10%);
  /* margin-left: 52%; */
  width: 100%;
}

.navmenu>ul>li {
  font-size: 20px;
}

.navmenu .membership>li {
  width: 5%;
  font-size: 17px;
  margin: 0 5%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}

.membership .sns {
  width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20%);
}

.sns >li{
  width: 29%;
  text-align: center;
  font-size: 25px;
  color: #aaa;
  text-shadow: 3px 3px #000;
  opacity: 0.7;
}

.navmenu .headmenu {
  height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navmenu .headmenu>li {
  margin: 0 2%;
  width: 20%;
  position: relative;
  line-height: 3em;
  height: 100%;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.navmenu .headmenu>li:nth-child(2) {
  transform: scale(1.2);
}

.navmenu .headmenu>li::after {
  opacity: 0;
  content: '';
  width: 80%;
  height: 0;
  border: 1px solid #aaa;
  position: absolute;
  bottom: 8%;
  left: 8%;
  transition: all 0.5s;
}

.navmenu .headmenu>li:hover::after {
  opacity: 1;
}

.navmenu .headmenu >li:hover .submenu {
  /* transform: translate(0%, -2%); */
  display: block;
}

.navmenu .headmenu >li a {
  width: 100%;
}

.headmenu .submenu {
  width: 100%;
  display: none;
  transform: translate(0%, -2%);
  background: #ffebb1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;
  padding: 10% 2% 2% 2%;
}

.submenu>li {
  text-align: center;
  color: #474952;
  font-size: 17px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.submenu>li::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  transition: all .5s;
}

.submenu>li:hover::before {
  transform: translate(340%, -40%);
  opacity: 1;
}


/* section */
/* article1 */
#art1_menu {
  background: url(/images/cafebg.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#art1_menu .bgcov {
  position: absolute;
  width: 100%;
  height: 72%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: #000;
  z-index: -1;
}

#art1_menu .menulist {
  width: 100%;
    height: 100vh;
    /* background-color: red; */
}


.menulist .postit {
  padding: 10% 0 5% 0;
  width: 20%;
  height: 100vh;
  transform: translateX(-55%);
  transition: all .5s;
}

.postit .innerpost {
  background: url(http://localhost:52330/images/postit.png) no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 100%;
  height: 11%;
  margin-top: 10%;
  text-align: center;
  padding-left: 45%;
  cursor: pointer;
}

.innerpost.on {
  padding-left: 50%;
}

.innerpost span {
  font-size: 30px;
    line-height: 2.5;
    font-family: 'Gamja Flower', cursive;
    font-weight: bold;
}

/* .innerpost span.on {
  font-size: 20px;
  line-height: 3;
} */

.innerpost.click {
  transform: translateX(30%);
}

.menulist .menu {
  border: 10px double #000;
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 15%;
    left: -30%;
    border-top-right-radius: 10px;
    background-color: #fff;
    transition: all .5s;
}

.menulist .xmark {
  position: absolute;
    top: 0%;
    left: 87%;
    width: 14%;
    height: 5%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.menu >ul {
  width: 100%;
  height: 100%;
  padding: 5%;
} 


.menu .menubx {
  position: absolute;
  text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 5%;
    font-size: 30px;
    cursor: pointer;
  }
  
  .menubx >li {
    margin: 10% 0;
    font-family: 'Gamja Flower', cursive;
  font-size: 40px;
}

.menu .menubx.on {
  display: block;
}

.menu.on {
  left: 0%;
}

.menu .list >li {
  text-align: center;
  font-size: 15px;
  width: 31%;
  height: 12%; 
  display: inline-flex;
  margin: 8% 1%;
  justify-content: center;
  align-items: center;
}

.menu .list >li a {
  width: 100%;
  height: 100%;
}

.menu .list >li a h2 {
  font-weight: bold;
}

/* .menu .list >li a img {
  width: 100%;
} */


.menu .list >li:hover {
  transform: scale(1.1);
}

/* .menu .list >li img {
  margin-bottom: 10%;
} */


.postit.on {
  transform: translateX(70%);
}

.drink {
  width: 30%;
    height: 50%;
    position: absolute;
    /* top: 34%;
    left: 36%; */
    top: 114%;
    left: 65%;
    /* background-color: red; */
    transition: all .5s;
}

.drink.on {
  top: 34%;
  left: 50%;
}

.drink .drinklist {
  width: 100%;
  height: 100%;
}

.drink .drinklist img {
  width: auto;
  height: 100%;
}

.drink .xmark2 {
  position: absolute;
    top: -15%;
    right: 35%;
    width: auto;
    height: auto;
    font-size: 60px;
    color: #fff;
}

.recieptbx {
  width: 25%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 110%;
  /* left: 72%; */
  background-color: red;
  border: 5px double #000;
  transition: all 0.5s 0.5s;
}

.recieptbx.on {
  left: 72%;
}

.bigmenu {
  width: 80%;
    height: 80%;
    position: absolute;
    top: 12%;
    left: 11%;
    background-color: red;
    display: none;
}

.bigmenu img {
  width: 100%;
  height: 100%;
  border: 5px double brown;
}

/* .menu .list >li:hover {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border: 5px double;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}  */

#art1_menu .menuhv {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border: 5px double;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: none;
}


