@charset "utf-8";

@media screen and (max-width:400px) {

    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    #header {
        margin: 5% 0 3%;
    }

    #header .logo {
        width: 30%;
        margin: 0 auto;
    }

    #header h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 2%;
    }

    #section {
        padding: 1% 5% 5% 5%;
    }

    #section #formlist>div {
        display: flex;
        width: 100%;
        justify-content: center;
        border-top: 1px solid #ddd;
        padding: 1.5% 0;
    }

    #formlist label {
        width: 50%;
    }

    #formlist .rightside {
        width: 75%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .rightside input {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        padding: 0 0 0 4%;
    }

    .gender .rightside {
        display: flex;
        align-items: center;
    }

    .gender .rightside input {
        width: 15%;
        height: 25px;
    }

    .gender .rightside label {
        margin-right: 20%;
    }

    select {
        border-radius: 10px;
        margin: 2% 2%;
    }

    .birth select {
        width: 30%;
        padding: 1.5%;
        text-align: center;
        margin-right: 2.5%;
    }

    .birth select:nth-child(1) {width: 85%;}
    .birth select:nth-child(2) {width: 40%;}
    .birth select:nth-child(3) {width: 40%;}

    .local select {
        width: 50%;
        padding: 2%;
        text-align: center;
    }

    .call select {
    width: 30%;
    }

    .call select:nth-child(1) {width: 40%;}


    .call input {
        width: 100%;
        margin: 2% 0;
    }

    .callbtn {
        width: 10%;
        background-color: #ddd;
        border-radius: 10px;
        font-weight: bold;
        border: none;
    }

    .email input {
        margin: 2% 0;
    }
    .email input:nth-child(1) {width: 80%;}
    .email input:nth-child(3) {width: 50%}

    .email select {
        /* background-color: #f7e6f7; */
        text-align: center;
        padding: 1.5%;
        width: 45%;
        margin-left: 3%;
        font-size: 15px;
    }

    .email .at {
        padding: 0 !important;
        line-height: 2.5;
        margin: 0 2%;
    }

    .post {
        position: relative;
    }

    .post input {
        width: 40%;
        text-align: center;
        padding: 0;
    }

    .post .rightside .search {
        margin: 0 8% 0 1%;
        padding: 1.5%;
        width: 20%;
        border: none;
        border-radius: 10px;
        background: #ddd;
        font-weight: bold;
    }

    #accordion {
        width: 100% !important;
    }

    #accordion .ui-icon {
        display: none;
    }

    #accordion .chbx {
        align-items: flex-start;
        flex-direction: column;
        margin: 0 auto;
        display: flex;
        padding: 1% 4% 2%;
    }

    #accordion h3 {
        margin: 0 auto;
        font-weight: bold;
        font-size: 18px;
    }

    #accordion .accheader label {
        width: 100%;
        line-height: 0;
        padding: 0;
        margin: 0;
    }

    .textbox>div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .textbox>div input:nth-child(1) {
        width: 15%;
        height: 35px;
    }

    .textbox>div input:nth-child(2) {
        width: 100%;
        height: 100px;
        margin-top: 5%;
        padding: 3%;
    }

    .btn {
        text-align: center;
        border-top: none !important;
    }

    .btn .submit {
        width: 40%;
        margin: 0 4%;
        padding: 1.5%;
        font-size: 18px;
        border-radius: 10px;
        background-color: #ddd;
    }

    .btn .reset {
        width: 30%;
        padding: 1.5%;
        font-size: 18px;
        border-radius: 10px;
        background-color: #ddd;
    }

    .chbx>div {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1%;
    }

    .chbx .chbxp1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .chbxp1 label {
        font-size: 16px !important;
        font-weight: bold;
    }

    .chbx .txtcheck {
        width: 5%;
        height: 30px;
        margin-right: 2%;
    }

    .chbx .txtbox {
        width: 100%;
        margin-top: 2%;
        border-bottom-right-radius: 10px;
        padding: 3%;
        border: 1px solid;
    }

    #idbox,
    #name,
    #passbox,
    #pwcheck {
        width: 100%;
    }
}