@charset "utf-8";


body {
    max-width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width:400px) {

    #header {
        margin: 5% 0 3%;
    }

    #header .logo {
        width: 30%;
        margin: 0 auto;
    }

    #header h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 2%;
    }

    #section {
        padding: 1% 5% 5% 5%;
    }

    #formbox {
        width: 100%;
        border: 1px solid #f5dec9;
    }

    #formlist {
        width: 100%;
    }

    #section #formlist .inputbox {
        border: 1px solid #f5dec9;
        background-color: #f5dec9;
    }

    #section #formlist .inputbox>div {
        align-items: flex-start;
        flex-direction: column;

    }

    #formlist .webicon {
        display: inline;
      }

    #formlist label {
        width: 50%;
        padding: 0 4%;
        line-height: 2;
    }

    #formlist .rightside {
        width: 100%;
        margin-bottom: 3%;
    }

    .rightside input {
        background: #fff;

    }

    .leftside {
        font-weight: bold;
    }

    .btn {
        margin: 6% 0 3%;
        text-align: center;
        border-top: none !important;
        display: flex;
        justify-content: center;
    }

    .btn .join {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-right: 5%;
    }


    .btn .submit {
        border: none;
        width: 50%;
        padding: 1.5%;
        font-size: 18px;
        border-radius: 10px;
        background-color: #bd9672;
        color: #fff;
        font-weight: bold;
    }

    .btn .reset {
        width: 15%;
        padding: 1.5%;
        font-size: 18px;
        border-radius: 10px;
        background-color: #ddd;
    }

    .subbtn {
        width: 100%;
        display: flex;
        flex: 1;

    }

    .subbtn>a {
        width: 100%;
        margin: 0 1%;
    }

    .subbtn>a::after {
        content: none;
    }
}