@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 
  영문: font-family: 'Poppins', sans-serif;
  한글: font-family: 'Noto Sans KR', sans-serif;
*/

/* 
homepc monitor : 1366*625
*/
@media screen and (max-width:400px) {

    body,
    html {
        max-width: 1920px;
        font-family: 'Poppins', sans-serif;
        font-family: 'Noto Sans KR', sans-serif;
    }

    /* header */
    #header {
        height: 90px;
    }

    #nav .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }

    .magnifyinggl,
    .sns_icon {
        display: none;
    }

    .resize_pack span {
        font-size: 30px;
    }

    #nav .navmenu {
        margin-left: 0;
    }

    #nav .navmenu .membership {
        background: #f8e5ff;
        position: absolute;
        top: 10%;
        left: 100%;
        transform: translateY(0);
        height: 390%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: all 0.5s;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        /* background: url(../images/cookie.png) no-repeat;
        background-size: cover;
        background-position: center; */
    }

    #nav .navmenu .membership.on {
        /* width: 30%;
        flex-direction: column;
        line-height: 2;
        height: 155px;
        top: 105%;
        right: 0;
        align-items: normal;
        padding: 3%; */
        left: -5%;
    }

    .navmenu .membership>li {
        width: 30%;
        font-size: 35px;
        margin: 3% 5% 5%;
    }

    .membership .sns {
        width: 70%;
        transform: translateY(0%);
        position: absolute;
        top: 7%;
    }

    .sns li {
        font-size: 35px;
    }

    .navmenu .headmenu {
        width: 100%;
        position: absolute;
        top: 400%;
        left: -100%;
        background: #f1c4a9;
        height: 350%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 0.5s;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .navmenu .headmenu.on {
        left: 0;
    }

    .navmenu .headmenu>li {
        width: 50%;
        margin: 3% 0 9%;
    font-size: 35px;
    height: 9%;
    line-height: 1;
    }

    .headmenu>li.on {
        transform: translateY(36%) translateX(0);
        transform: translateX(-100%);
    }

    .navmenu .headmenu>li:nth-child(4) {
        transform: scale(1);
    }

    .navmenu .headmenu>li:nth-child(1).pnt {
        height: 400px;
    }

    .navmenu .headmenu>li:nth-child(2).pnt {
        height: 320px;
    }

    .navmenu .headmenu>li:nth-child(3).pnt {
        height: 240px;
    }

    .navmenu .headmenu>li:nth-child(4).pnt {
        height: 160px;
    }

    .resize_pack {
        position: absolute;
    top: 25%;
    right: 5%;
    }

    .resize_pack span {
        width: auto;
    }

.menu_icon {
    display: block;
}

    .membership .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px !important;
        line-height: 1;
        width: 9% !important;
        height: 10%;
        border-radius: 50%;
        background: #ddd;
        border: 1px solid #000;
        text-align: center;
        padding: 1%;
        display: block;
    }

    /* .membership .hide_mem {
        transform: translateY(-300%);
    } */


    /* section */
    /* article1 */
    #art1_map {
        display: flex;
        flex-direction: column;
    }

    #art1_map .bgcov {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.7;
    }

    #art1_map .map {
        width: 90%;
        height: 35%;
        position: absolute;
        top: 35%;
        left: 5%;
    }

    #art1_map .textbx {
        width: 100%;
        height: 40%;
        top: 55%;
        left: 0;
        padding: 3%;
    }

    .textbx>span {
        width: 100%;
        font-size: 20px;
        line-height: 1.7;
        border-bottom: 2px solid #bbb;
        display: block;

    }
    .textbx .bold {
        font-weight: bold;
    }
}
